@charset "utf-8";
/* CSS Document */
h1,h2,h3,h4,h5,h6,p,body,ul,li,dl,ol,dt,dd{ padding:0; margin:0}
a{ text-decoration:none; color:#333}
.navr a:hover{ color:#cc9634; font-size:16px; font-weight:bold}
li{ list-style:none}
.clearfix{*zoom:1}
.clearfix:after{clear:both;content:".";display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}

body{ font-size:12px; color:#666666; font-family:"微软雅黑"， Arial;}
.top{background:#0066cc; height:1px; width:940px; margin:auto; margin-top:90px}
.nav{ width:940px; margin:auto; position:relative; height:140px}
.a1{ width:940px; margin:auto; position:relative}
.logo{ position:absolute; top:-90px; float:left;z-index:2}
.tipt{ background:url(../images/topt.png) no-repeat; width:270px; height:48px; position:absolute; margin-top:-90px; margin-left:575px;}
.tipt p{ font-size:18px; color:#FFF; text-align:center; line-height:42px}
.topr{ position:absolute; top:-70px;z-index:2; margin-left:750px}
.font1,.font2{position:absolute;z-index:2}
.font1{ font-size:20px; font-weight:bold; color:#0066cc; margin-left:160px;top:-30px}
.font2{ font-size:14px; margin-left:160px; top:10px; color:#666666}

.banner,.contant{ width:940px; margin:auto}
.banner{ padding-top:50px}

.contant{width:940px; margin:auto; }

.infon{ margin-left:65px; margin-top:30px}
.tip{ border-bottom:#000 1px solid; width:810px}
.tip p{ font-size:20px; color:#333}
.tip span{ font-size:20px; color:#9fa0a0; padding-left:15px}
form span { display:inline-block; height:35px; width:123px; background-color: #C1C1C1; text-align:center; line-height:35px; font-size:14px; color:#fff }
form b{color:#ff1600; padding-right:8px}
.infon form .one{margin-left:128px; width:682px; height:31px; margin-top:10px}
.infon form .dd{ width:118px; height:30px}
.infon form .two{ width:250px; height:30px; margin-left:4px; margin-top:10px}
.f01{ width:273px; height:31px; margin-left:4px; margin-top:10px}
.f02,.f03{ width:190px; height:21px; margin-left:10px; margin-top:10px}
.cc{ margin-left:60px; }
.cc1{ margin-left:82px}
em{ font-size:14px; font-style:normal;}
.ee{ font-size:14px; font-style:normal; margin-left:110px}
.f04{ width:682px; height:31px; margin-left:4px; margin-top:10px}
.f05{ width:117px; height:31px; margin-left:4px; margin-top:10px}
.f06{ width:60px; height:31px;margin-left:4px; margin-top:10px; margin-bottom:10px}


.zhushi1,.zhushi2{ margin-left:65px}
.dinuantip{ border-left:1px #c1c1c1 solid; height:45px; margin-left:192px}
.dinuan,.sanre{ border:1px #c1c1c1 solid; width:610px; height:97px; margin-left:192px}
.dinuan p,.sanre p{ font-size:14px; margin-left:15px; margin-top:15px}

.dinuan span,.sanre span{ font-weight:bold}
.sanretip{ border-left:1px #c1c1c1 solid; height:45px; margin-left:350px}
.jinggao{ margin-left:180px; margin-top:45px}





.queren{ margin-top:70px; margin-left:628px}
.queren p{color:#ff1600; font-size:14px;}



.package{ margin-left:65px; margin-top:30px}
.buttom1,.buttom4{margin-top:50px; margin-bottom:50px}
.tipc{ border-bottom:#999 1px dashed; width:810px; }

table{ border-collapse:collapse;}
table,th,td{ border:1px #888 solid;}
.ff{ margin-left:186px}
.ff1{ margin-left:213px}
.gg{ width:155px; height:21px; margin-left:20px; margin-bottom:10px}
.packcen1,.packcen2{ margin-top:30px; margin-bottom:30px}

.biaoge1,.biaoge2,.biaoge3{ margin-top:15px; margin-bottom:15px }



.b1{ margin-top:10px}
.fushi ul,.b2{ margin-left:185px}
.fushi li,.biaoge li{ float:left}
.fushi li img{ margin-left:5px}
.c1,.c2{ width:98px}
.c3{ width:142px}
.c4{ width:245px}
.c5{ width:391px}

.d1,.d2,.d3{ margin-top:10px}
.aa{ margin-left:109px}
.tt{ margin-left:66px}
.jj{ margin-left:94px}
.jj1{ margin-left:122px}







.footer{ margin-top:128px}
.foot{ background-color:#0066cc; height:174px; width:940px; margin:auto}
.footerl{ margin-left:20px; margin-top:10px}
.footerl p{ font-size:24px; color:#FFF; line-height:64px; margin-top:-55px; margin-left:60px}
.footerl img{ display:inline-block; margin-top:15px}
.footerr{ float:right;margin-top:-52PX; margin-right:60px}