.about-banner {
    height: 500px;
    position: relative;
    overflow: hidden;
}

.about-banner img {
    width: 100%;
}

/*导航*/
.slideTxtBox {

}

.slideTxtBox .hd {
    width: 100%;
    height: 90px;
    background: #f6f6f6;
    border-bottom: 1px solid #eeeeee;
    position: relative;
}

.slideTxtBox .hd ul {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 1150px;
}

.slideTxtBox .hd ul > li {
    float: left;
    cursor: pointer;
    padding: 0 30px;
    line-height: 50px;
    color: #1f1f1f;
    font-size: 16px;
    border-radius: 30px;
}

.slideTxtBox .hd ul li.on {
    background: #00a0e2;
    color: #fff;
    box-shadow: 3px 3px 3px #bcc7cb;
}
.slideTxtBox .bd {
    padding-bottom: 100px;
    border:1px solid transparent;
}

.slideTxtBox .bd ul li{
    overflow: hidden;
}
.slideTxtBox h2 {
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin: 40px 0 50px;
    font-weight: bold;
    position: relative;
}
.cmp-img {
    position: relative;
    margin-bottom: 30px;
}
.cmp-img img:last-of-type {
    position: absolute;
    right: 0;
    bottom: 0;
}
/*公司团队*/
.cmp-worker h3{
    text-align: center;
    font-size: 20px;
    color: #333333;
    margin: 40px 0 50px;
    font-weight: bold;
    position: relative;
}
.cmp-worker h3 span{
    display: inline-block;
    padding:0 20px;
background: #fff;
}
.cmp-worker h3:before{
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    height:1px;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    background: #eeeeee;
}
.cmp-worker .team-l{
    width:46%;
    float: left;
    height: 350px;
    overflow: hidden;
    border-radius: 5px;
    margin:0 20px 0 10px;
}
.cmp-worker .team-l img{
    width: 100%;
}
.cmp-worker .team-r{
    width: 49.8%;
    float: right;
}
.cmp-worker .team-r h4{
    margin-top:15px;
    margin-bottom: 20px;
    width: 50%;
    font-size: 18px;
    font-weight: bold;
}
.cmp-worker .team-r p{
    line-height: 22px;
    font-size: 12px;
    color: #666666;
    margin-bottom: 26px;
}
.cmp-worker  .r-lin{
font-size: 14px;
    color: #333333;
    line-height: 20px;
    margin-bottom: 10px;

}
.cmp-worker .team-r .lin-icon{
    border:1px solid #9e9e9e;
    padding:0 10px 15px;
    margin-top:24px;
    display: inline-block;
}
.cmp-worker .team-r .lin-icon .lin-each{
    width:73px;
    height: 100%;
    float: left;
}
.cmp-worker .team-r .lin-icon .lin-each {
    float: left;
    width: 86px;
    height: 100%;
}
.cmp-worker .team-r .lin-icon .lin-each .lin-box{
    width: 100%;
    height: 44px;
    position: relative;
}
.cmp-worker .team-r .lin-icon .lin-each  em{
    text-align: center;
    display: block;
}
.cmp-worker .boss-each{
    width: 31%;
    float: left;
    margin-right:3%;
}
.cmp-worker .boss-each:last-of-type{
    margin-right: 0;
}
.cmp-worker .boss-each .boss-img{
width: 100%;
    height: 316px;
    overflow: hidden;
}
.cmp-worker .boss-each .boss-img img{
    width: 100%;
}
.cmp-worker .boss-each h4{
    line-height: 46px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}
.cmp-worker .boss-each h4:before{
    content: "";
    width: 50px;
    height: 4px;
    background: #00a0e2;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: 0;
}
.cmp-worker .boss-each p{
    line-height: 20px;
    margin:10px 0 20px;
    color: #666666;
}
.cmp-worker .ui-each{
    float: left;
    width: 23%;
    margin-right: 2.3%;
    border-radius: 5px;
    overflow:hidden;
    background: #f6f6f6;
}
.cmp-worker .ui-each:last-of-type{
    margin-right: 0;

}
.cmp-worker .ui-each .ui-img{
    height: 180px;
    overflow: hidden;
}
.cmp-worker .ui-txt{
    padding:0 22px 10px;
}
.cmp-worker .ui-txt h4{
    line-height: 36px;
    font-size: 16px;
}
.cmp-worker .ui-txt p{
    line-height: 26px;
    margin-bottom: 10px;
}
.cmp-worker .ui-txt .r-lin{
    margin-bottom: 10px;
}
.cmp-worker .skill{
    position: absolute;
    box-shadow:inset 0 0 1px 1px #ddd;
    width: 100%;
}
.cmp-worker .sill-box{
    position:relative;
    width: 31%;
    height: 408px;
    margin-right: 3%;
    margin-bottom: 3%;
    float: left;
}
.cmp-worker .skill:hover{
    background: #00a0e2;
    color: #fff;
}
.cmp-worker .sill-box:nth-of-type(3n){
    margin-right: 0;
}
.cmp-worker .skill .skill-img{
    width: 100%;
    height: 314px;
    overflow: hidden;
}
.cmp-worker .skill h4{
    padding:0 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}
.cmp-worker .skill p{
    margin:0 10px 10px;
    color: #666666;
    width: 96%;
    line-height: 22px;
    overflow:hidden;
    text-overflow:ellipsis;/*超出文本出现省略号*/
    display:-webkit-box;/*设置成一个弹性的盒子*/
    -webkit-line-clamp: 2;/*只显示三行*/
    -webkit-box-orient:vertical;/*垂直方向 竖向显示*/
}
.cmp-worker .skill:hover p{
    color: #fff;
    text-overflow: clip;
    -webkit-line-clamp: inherit;
}
/*自主研发*/
.license img {
    margin: 0 auto;
}

.license h3 {
    text-align: center;
    font-size: 14px;
    color: #333333;
    line-height: 45px;
}

.license .lic-each {
    float: left;
    width: 25%;
}

.office {
}

.office .office-each {
    width: 380px;
    height: 360px;
    margin: 0 30px 30px 0;
    position: relative;
    overflow: hidden;
    float: left;
}

.office .office-each:nth-of-type(3n) {
    margin-right: 0;
}

.office .office-each img {

}
.office-txt {
    width: 100%;
    height: 85px;
    position: absolute;
    bottom: -85px;
    background: rgba(0, 0, 0, .7);
    left: 0;
    padding-left: 30px;
    transition: all .5s;
}

.office-each:hover .office-txt {
    bottom: 0;

}

.office-txt h5 {
    font-size: 16px;
    color: #ffffff;
    margin: 20px 0 15px 0;
}

.office-txt p {
    font-size: 14px;
    color: #ffffff;
}

/*发展历史*/
.cmp-history {
    padding: 36px 0;
    height: 1150px;
    background: url("../img/1-geshao3.png") center top no-repeat;
}

.cmp-story {

    width: 700px;
    margin: 38px 0 38px 0;
}

.cmp-story:nth-of-type(odd) {
    padding-left: 290px;
    float: right;
    text-align: left;

}

.cmp-story:nth-of-type(even) {
    padding-right: 290px;
    float: left;
    text-align: right;
}

.cmp-story:nth-of-type(even) img {
    float: right;
    margin-left: 30px;
    margin-right: 0;
}

.cmp-story:nth-of-type(even) .cmp-story-txt {
    float: right;
}

.cmp-story img {
    display: inline-block;
    margin-right: 30px;
    float: left;
}

.cmp-story .cmp-story-txt {
    display: inline-block;
    padding-top: 27px;
    float: left;
}

.cmp-story-txt h4 {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    margin: 0 0 21px;
}

.cmp-story-txt p {
    font-size: 14px;
    color: #333333;

}

.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}

.iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}

#dituContent {
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
}

.cmp-leader {
    padding-bottom: 90px;
    margin-top: 36px;
    color: #333333;
    font-size: 14px;
    line-height: 40px;

}
.cmp-leader h3{
    font-size: 24px;
    color: #00a0e2;
    padding-bottom: 20px;
}
.leader-l {
    padding-left: 110px;
    display: inline-block;
    border-right: 1px solid #e2e2e2;
    width:50%;
}
.leader-l p{
    font-size: 16px;
    color: #525452;
    padding-top:37px;
    line-height: 100%;
}
.leader-l p i{
    margin-right: 12px;
}
.leader-r {
    display: inline-block;
    width:50%;
    padding-left: 50px;
}
.leader-r .we-ewm{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.leader-r .we-ewm .ewm-each{
    width: 120px;
    margin:0 23px;
}
.leader-r .we-ewm .ewm-each .ewm-box{
    width: 120px;
    height: 120px;
    background: #00a0e2;
    position: relative;
}
.leader-r .we-ewm .ewm-each .ewm-box:before{
    content: "";
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    border-top:5px solid #00a0e2;
    position: absolute;
    top:120px;
    left: 50%;
    transform: translateX(-50%);
}
.leader-r .we-ewm .ewm-each .ewm-box img{
    width: 100px;
    height: 100px;
}
.leader-r .we-ewm .ewm-each p{
    font-size: 18px;
    color: #3b3d3b;
    margin-top:20px;
    text-align: center;
}
.leader-r .we-ewm .ewm-each p i{
    font-size: 25px;
    vertical-align: middle;
}
/*人才招聘*/
.person {

    border: 1px solid #eeeeee;
    border-bottom: none;
    position: relative;
    padding-bottom:50px;
}
.person:last-of-type{
    border-bottom: 1px solid #eeeeee;
}
.person h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 66px;
    padding-left: 55px;
    position: relative;
    cursor: pointer;
}
.person h3 em{
    right:20px;
    position: absolute;
    display: none;
    top:50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #666666;
}
.person h3 em i{
    vertical-align: middle;
    margin:0 8px;
    color: #00a0e2;
    font-size: 18px;
}

.person h3:before {
    content: "";
    width: 14px;
    height: 14px;
    background: #00a0e2;
    position: absolute;
    left: 20px;
    top: 27px;
    border-radius: 50%;
}
.person >p{
    display: inline-block;
}
.person .see-more{
    width: 94px;
    height: 34px;
    background: #00a0e2;
    color: #fff;
    text-align: center;
    line-height: 34px;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}
.person .see-more{

}
.person.active{
    padding-bottom: 10px;
    color: #00a0e2;
}
.person.active >p{
    display: block;
}
.person.active .see-more{
    display: none;
}
.person.active h3 em{
    display: block;
}
.person-txt{
    display: none;
}
.person.active .person-txt{
    display: block;
}
/*收款方式*/
.sk {
    border: 1px solid #eeeeee;
    border-bottom: 0;
    border-right: 0;
}

.sk-each {
    float: left;
    width: 50%;
    padding-top: 26px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 36px;
}
.sk-each:nth-of-type(even) {
    border-right: 1px solid #eeeeee;
}
.sk-each:last-of-type{
    border-right: 1px solid #eeeeee;
}
.sk-each-top {
    font-size: 18px;
    color: #333333;
    vertical-align: middle;
    margin-bottom: 16px;
}

.sk-each-top img {
    display: inline-block;
    vertical-align: middle;

}
.sk-each-top span{
    font-size: 16px;
    font-weight: bold;
}
.sk-each-main p {
    color: #666666;
    font-size: 14px;
    line-height: 32px;
}

.sk-each:nth-of-type(even) .sk-box {
    border: none;
}
.sk-each:last-of-type .sk-box {
    border: none;
}

.sk-box {
    padding: 0 0 0 90px;
    border-right: 1px solid #eeeeee;
}

.person p {
    line-height: 32px;
    font-size: 14px;
    padding-left: 20px;
    color: #333333;
}

.person b {
    display: block;
    line-height: 30px;
    font-size: 14px;
    color: #666666;
    padding-left: 20px;

}

/*售后工单*/
.order {
    height: 810px;
    background:url("../img/order.png") center top no-repeat;
}
.shouhou iframe{
    width: 100%;
    height:850px;
    border:none;
    outline: none;
}
.order .order-box{
    padding-top:50px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #666666;
}
.order .order-log p{
    font-size:14px;
    color: #c9303c;
    line-height: 32px;
    padding-left: 74px;
}
.order ul li{
    padding-bottom: 20px;
    position: relative;
}
.order ul li >span{
    display: inline-block;
    width: 74px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    vertical-align: top;
}
.order ul li span em{
    color:#c9303c;
}
.order ul li input[type="text"],.order-log ul li input[type="password"]{
    width: 370px;
    height: 30px;
    border:1px solid #e2e2e2;
    padding-left: 10px;
}
.order ul li p{
    line-height: 20px;
    position: absolute;
    color: red;
    bottom:0;
    display: none;
    left: 80px;
}
.order-log ul li .codes{
    width: 180px;
    vertical-align: middle;
    height: 30px;
    display: inline-block;
}
.order-log ul li .codes span{
    cursor: pointer;
}
#v_container{
    float: left;
    width: 72px;
    height: 30px;
}
.order ul li .sub{
    width: 200px;
    height: 40px;
    outline: none;
    border:none;
    font-size: 18px;
    color: #ffffff;
    margin-left:74px; ;
    text-align: center;
    line-height: 40px;
    background: #128ed3;
}
.order .order-inp{}
.order .order-inp textarea{
    width: 370px;
    height: 150px;
    padding:5px;
    border:1px solid #e2e2e2;
}
.order .order-inp .selec{
    width: 370px;
    height: 30px;
    border:1px solid #e2e2e2;
    background: #fff;
    font-size: 14px;
    line-height: 30px;
}
.order .order-inp .selec ul {
    top:29px;
    max-height: 150px;
}
.order .order-inp .selec ul li{
    margin:0;
    height: 30px;
}
