.navs-box {
    height: 80px;
    background: #f1f1f1;
}

.navs-box h1 {
    vertical-align: middle;
    margin-right: 20px;
    margin-top:-10px;
}

.navs-t span {
    display: inline-block;
    font-size: 26px;
    color: #666666;
    line-height: 80px;
    height: 80px;
    position: relative;
    padding-left: 22px;
}

.navs-t span:before {
    content: "";
    width: 1px;
    height: 60px;
    background: #999999;
    position: absolute;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
}

.navs-t em {
    font-size: 16px;
    color: #666666;
    line-height: 80px;
}

/*顶部信息*/
.msg {
    padding: 30px 0 40px;

}

.msg-txt {
    height: 140px;
    width: 790px;
}

.msg .msg-txt-l {
    padding-left: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #333333;
    font-size: 16px;
    line-height: 30px;
}

.msg-txt-price {
    margin-top: 52px;
    margin-right: 32px;
}

.msg-txt-price span {
    font-size: 24px;
    color: #6bbcea;
    font-weight: bold;
}

.msg-txt-price i {
    font-size: 20px;
    color: #333333;
}

/*支付方式*/
.pay-main {
    width: 100%;
    border: 2px dashed rgba(238,238,238,0.6);
}

.pay-main ul li {
    padding: 10px 25px 10px 30px;
    border: 3px solid transparent;
    position: relative;
    margin-bottom: 2px;
}

.pay-main ul li:after {
    content: "";
    height: 1px;
    width: 1170px;
    background: #f1f1f1;
    bottom: -4px;
    position: absolute;
    right: 0;
}

.pay-main ul li:last-of-type:after {
    background: transparent;
}

.pay-main ul li:not(:first-of-type):hover {
    border-color: #96cde4;
}
.pay-main ul li.active {
    border-color: #00a0e2 !important;
}
.pay-main ul li.active .pay-type-price{
    display: block;
}
.pay-main ul li span {
    line-height: 40px;
    font-size: 14px;
    color: #666666;
    display: inline-block;
    width: 150px;
}
.pay-main ul li:last-of-type:hover span{
    color: #00a0e2;
    cursor: pointer;
}
.pay-main ul li .pay-inp {
    display: inline-block;
    position: relative;
}

.pay-main ul li .pay-inp .selec {
    width: 254px;;
    height: 36px;
    border: 1px solid #dddddd;
    color: #999999;
    background: #fff;
    font-size: 14px;
    padding-left: 14px;
}

.pay-main ul li .pay-inp i {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 16px;
}

.pay-main ul li .pay-type {
    display: inline-block;
}

.pay-main ul li .pay-type i, .pay-main ul li .pay-type em {
    vertical-align: middle;
    display: inline-block;
    margin-right: 18px;
}

.pay-main ul li .pay-type em {
    margin-right: 50px;
}

.pay-type-price {
    position: absolute;
    color: #666666;
    font-size: 14px;
    top:50%;
    transform: translateY(-50%);
    right: 50px;
    display: none;
}

.pay-type-price b {
    color: #00a0e2;
    font-size: 20px;
}

.pay-main .pay-bank {
    display: inline-block;
}

.pay-main .pay-bank em {
    color: #666666;
    font-size: 14px;
    line-height: 22px;
}

.pay-main .pay-bank b {
    color: #00a0e2;
    font-size: 14px;
    line-height: 22px;
    padding-left: 20px;
    cursor: pointer;
}

.pay-ok {
    width: 200px;
    height: 50px;
    background: #00a0e2;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    margin: 40px auto 40px;
    cursor: pointer;
}

/*支付遇到的问题*/
.pay-trobole {
    border: 1px solid #f1f1f1;
    padding: 0 20px 80px;
    margin-top: 36px;
    margin-bottom: 50px;
}

.pay-trobole h3 {
    font-size: 16px;
    color: #333333;
    margin: 20px 0;
    margin-bottom: 10px;
}

.pay-trobole ul li h4 {
    line-height: 35px;
    font-size: 14px;
    color: #333333;
}

.pay-trobole ul li p {
    line-height: 25px;
    color: #666666;
    font-size: 14px;
    width: 100%;
}

.pay-trobole ul li p a {
    line-height: 25px;
    color: #00a0e2;
    font-size: 14px;
}

/*选择银行*/
.banks-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    left: 0;
    top: 0;
}

.banks {
    position: relative;
    width: 1070px;
    background: #fff;
    border: 4px solid #ddd;
    padding-left: 40px;
    padding-bottom: 68px;
    padding-right: 20px;
}

.banks h3 {
    line-height: 70px;
    border-bottom: 1px solid #eeeeee;
    font-size: 20px;
    color: #333333;
    padding-left: 50px;
}

.banks .banks-change {
    padding-left: 50px;
    padding-right: 80px;
}

.banks-change p {
    color: #333333;
    font-size: 14px;
    line-height: 60px;
}

.banks-change p em {
    color: #00a0e2;
}

.banks-change .banks-box {

}

.banks-list {
}

.banks-list ul li {
    width: 90px;
    height: 43px;
    border: 2px solid transparent;
    border-bottom: none;
    color: #333333;
    font-size: 14px;
    text-align: center;
    line-height: 42px;
    background: #eeeeee;
    margin-right: 20px;
    float: left;
    position: relative;
    cursor: pointer;

}

.banks-list ul li.active {
    border-color: #f7b52c;
    background: #fff;
    color: #00a0e2;
    z-index: 10;
}

.banks-list {
}

.banks-show {
    border: 2px solid #f7b52c;
    padding: 20px 20px 30px;
    position: relative;
    top: -2px;
}

.banks-show-list ul {
    height: 150px;
    transition: all .5s;
}

.banks-show-list ul li {
    float: left;

    margin: 0 33px 30px 8px;
}

.banks-show-list ul li:nth-of-type(4n) {
    margin-right: 0;
}

.banks-show-list ul li input {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.banks-show-list ul li img {
    display: inline-block;
}

.banks-show-more {
    text-align: right;
    color: #00a0e2;
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
}

.banks-show-more span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-right: 15px;
}

.banks-show-more i {
    display: inline-block;
    cursor: pointer;
    transition: all .5s;
    vertical-align: middle;
    transform: rotate(-90deg);
}

.banks-show-msg {
    width: 806px;
    height: 180px;
    border: 1px solid #ddd;
}

.banks-show-msg ul > li {
    border-right: 1px solid #ddd;
    float: left;
    width: 20%;
}

.banks-show-msg ul > li:last-of-type {
    border: none;
}

.banks-show-msg ul > li:first-of-type {
    line-height: 180px;
    text-align: center;
    font-size: 16px;
    color: #333333;
}

.banks-show-msg ul > li ol {

}

.banks-show-msg ul > li ol li:first-of-type {
    background: #f1f1f1;

}

.banks-show-msg ul > li ol li {
    border-bottom: 1px solid #f1f1f1;
    height: 59px;
    text-align: center;
    line-height: 59px;
    font-size: 14px;
    color: #333333;
}

.banks-show-msg ul > li ol li:last-of-type {
    border: none;
}

.banks-sub {
    width: 170px;
    height: 50px;
    background: #00a0e2;
    color: #fff;
    text-align: center;
    line-height: 50px;
    float: right;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}

.close-banks {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #333333;
}

/*银行转账*/
.z-banks {
    display: none;
}

.z-banks .banks-show {
    margin-top: 50px;
}

.z-banks .banks-show .warn-txt {
    background: #f1f1f1;
    padding: 14px 30px 9px 8px;
}

.warn-txt h3 {
    font-size: 16px;
    color: #333333;
    line-height: 23px;
    margin-bottom: 6px;
    padding: 0;
}

.warn-txt h3 i {
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
}

.warn-txt p {
    line-height: 24px;
    color: #666666;
    font-size: 14px;
    padding-left: 20px;
}

.warn-txt p b {
    color: #ef2020;
}

.banks-msgs {
    margin-top: 54px;
}

.banks-msgs ul li {
    width: 50%;
    margin-bottom: 30px;
    float: left;
}

.banks-msgs ul li .msgs-img {
    width: 119px;
    margin-right:10px;
}
.banks-msgs ul li .msg-each{
    color: #333333;
    font-size: 14px;
    line-height: 23px;
}
.banks-msgs ul li .each-top{
    color: #ef2020;
}
.z-banks .banks-sub{
    margin-right: 80px;
}
