.fabu-top{
    background: #fff;
    border-bottom: 10px solid #ededed;
}
.fabu-top h3{
    font-size: 18px;
    color: #333333;
    line-height: 54px;
    border-bottom: 1px solid #eeeeee;
    padding-left: 36px;
}
.reg-box{
    height: 60px;
    padding:0 36px;
}
.reg-box .reg-txt{
    line-height: 60px;
    font-size: 14px;
    color: #333333;
}
.reg-box .reg-txt span{
    color: #00a0e2;
}
 .reg-rel{
    width: 120px;
    cursor: pointer;
    height: 40px;
    background: #00a0e2;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
     margin:20px 36px;
}
 body{
     box-sizing: border-box;
     background: #ededed;
 }
body >.w{
    background: #fff;
    border-top:20px solid #ededed;
    padding-bottom: 20px;
    min-height: 700px;
    border-bottom:20px solid #ededed;
}
a .reg-rel {
    color: #fff;
}
.fabu-box{
    padding:0 50px;
}
.fabu-box table{
    width: 100%;
}
.fabu-box table tr{
    height: 60px;
}
.fabu-box table thead tr:first-of-type{
    height: 40px;
    background: #f6f6f6;
}
.fabu-box table tr th,.fabu-box table tr td{
    border:1px solid #dddddd;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    color: #666666;
}
/*重新发布1*/
.res-show-list{
    width: 1100px;
    height: 40px;
    margin:22px auto 50px;
}
.res-show-list ul li{
    float: left;

}
.res-show-list ul li {
    margin: 0 -4px;
    padding-left: 35px;
    font-size: 14px;
    line-height: 40px;
}
.res-show-list ul li.active{
    color: #fff;
}
.res-check{
    position: relative;
    width: 1010px;
    margin:0 auto;
}
.res-check ul li{
    float: left;
    width: 164px;
    margin:0 18px;
    text-align: center;
}
.res-check ul li .res-img{
    width: 100%;
    height: 340px;
    overflow: hidden;
    background: url("../img/phone-img.png") center top;
}
.res-check ul li .res-img:hover{
    background: url("../img/phone-img2.png") center top;
}
.res-check ul li .res-img .img-box {
    width: 142px;
    height: 254px;
    margin:42px auto 0;
}
.res-check ul li .res-img .img-box img{
    width: 100%;
}
.res-box{
    display: inline-block;
    margin-top:20px;
}
.res-box i{
    vertical-align: middle;
}
.res-check ul li  span{
    font-size: 16px;
    color: #333333;
    vertical-align: middle;
    padding-left: 10px;
}
.res-check .next,.res-check .prev{
    width: 44px;
    height: 44px;
    background: #c9c9c9;
    position: absolute;
    top:30%;
    left: -50px;
    cursor: pointer;
    border-radius: 22px;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 20px;
}
.res-check .next:hover,.res-check .prev:hover{
    background: #00a0e2;
}
.res-check .next{
    right: -50px;
    left: inherit;
}
.next-sub{
    width: 120px;
    height: 40px;
    background: #00a0e2;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin:30px auto 30px;
    cursor: pointer;
}
/*重新发布2*/
.add-ser{
    line-height: 200px;
    text-align: center;
    color: #00a0e2;
    cursor: pointer;
}
.alert{
    width: 386px;
    height: 214px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
}
.alert h3{
    font-size: 16px;
    color: #333333;
    line-height: 56px;
    border-bottom: 1px solid #eeeeee;
}
.alert h4{
    font-size: 14px;
    color: #666666;
    line-height: 76px;
}

.alert .btn-box{
    margin:0 auto;
    display: inline-block;

}
.alert .btn-box .oks{
    width: 130px;
    height: 40px;
    background: #00a0e2;
    text-align: center;
    line-height: 40px;
    color: #fff;
    margin-right: 20px;
    border-radius: 28px;
    cursor: pointer;
}
.alert .btn-box .offs{
    width: 130px;
    height: 40px;
    color: #00a0e2;
    text-align: center;
    line-height: 40px;
    border: 1px solid #00a0e2;
    border-radius: 28px;
    cursor: pointer;
}
.alert .btn-box{}
.hav-rel{
position: relative;
}
.hav-rel .add-rel{
position: absolute;
    top:-30px;
    right:0;
    background: #00a0e2;
    color: #fff;
    text-align: center;
    line-height: 30px;
    width: 120px;
    height: 30px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
}
.hav-rel table tr td:last-of-type{
    cursor: pointer;
    color: #00a0e2;
}
/*查看二维码*/
.show-ewm{
    display: inline-block;
    position: relative;
    left: 50%;
    margin-left: -127px;
}
.show-ewm .ewm-box{
    width:254px;
    height: 254px;
    overflow: hidden;
    border: 1px solid #c0edff;
    box-shadow: 0 0 2px 2px #c0edff;
}
.show-ewm .ewm-box img{
    width: 100%;
}
.show-ewm p{
    text-align: center;
    line-height: 50px;
    color: #333333;
    font-size: 16px;
}
/*提交审核*/
.sub-warn{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    z-index: 10;
    background:rgba(0,0,0,.5);
    left: 0;
}
.sub-warn .warn-box{
    width: 530px;
    border-radius: 10px;
    background: #fff;
    border:1px solid #eee;
}
.sub-warn .warn-box i{
    position: absolute;
    right: 20px;
    top:20px;
}
.sub-warn .warn-box h5{
    font-size: 16px;
    text-align: center;
    color: #333333;
    line-height: 66px;
    border-bottom: 1px solid #eeeeee;
}
.sub-warn .warn-box p{
    font-size: 14px;
    color: #666666;
    padding-left: 60px;
    line-height: 30px;
}
.sub-warn .warn-box .close-warn{
    width: 120px;
    height: 40px;
    border:1px solid #00a0e2;
    text-align: center;
    line-height: 38px;
    color: #00a0e2;
    font-size: 14px;
    margin:30px auto;
    border-radius: 20px;
    cursor: pointer;
}
/*配置功能*/
.sub-list{
    width: 100%;
    border-top:1px solid #ededed;
    position: relative;
    padding-top:20px;
}
.sub-list .rem-list{
    position: absolute;
    cursor: pointer;
    right: 70px;
    top:20px;
width: 62px;
    height: 26px;
    border:1px dashed #d13a3a;
    text-align: center;
    line-height: 26px;
    color: #d13a3a;
}
.sub-list .rem-list i{
    color: #d13a3a;
    font-size: 16px;
    vertical-align: middle;
    padding:0 2px;
}
.sub-list:first-of-type{
    border: none;
}
.sub-list >ul >li{
    zoom:1;
    margin-bottom: 20px;
}
.sub-list >ul >li:after{
    clear: both;
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.sub-list .list-txt{
    float: left;
    width: 340px;
    margin-right: 16px;
    line-height: 40px;
    font-size: 14px;
    color: #333333;
    text-align: right;
}
.sub-list .list-main{
    float: left;
    font-size: 14px;
    line-height: 40px;
    color: #666666;
}
.sub-list .list-main input[type="text"]{
    width: 526px;
    height: 42px;
    border:1px solid #eeeeee;
}
.sub-list .list-main .selec{
    background: #fff;
    color: #666666;
}
.sub-list .selec ul{
    top:38px;
}
.add-page{
    color: #ffa500;
    line-height: 30px;
    width: 120px;
    margin-left: 360px;
    border-radius: 5px;
    border:1px solid #ffa500;
    text-align: center;
    cursor: pointer;
}
/*底部*/
/*底部提示*/
.setting-foot {
    height: 50px;
    background: #00a0e2;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}
.set-foot-txt {
    line-height: 50px;
    color: #fff;
    font-size: 14px;
}
.set-foot-txt ul{
    display: inline-block;
    position: relative;
    left: 50%;
    transform:translateX(-50%);
}
.set-foot-txt ul li {
    padding:0 40px;
    cursor: pointer;
    display: inline-block;
    border-right: 1px solid #fff;
}
.set-foot-txt ul li:last-of-type{
    border:none;
}
.set-foot-txt a {
    color: #fff;
}