body{
    background: #f1f3f7;
}
h2 {
    font-size: 28px;
    text-align: center;
    color: #333333;
    margin: 52px 0 65px;
    font-weight: bold;
}

.setting-top {
    border:1px solid #eeeeee;
    height: 66px;
    background: #fff;
    margin-top:20px;
}

.setting-l span {
    line-height: 66px;
    font-size: 16px;
    color: #00a0e2;
    padding-left: 15px;
}

.setting-r {
margin-top:12px;
    margin-right:20px;
}

.setting-r .more-wx {
    width: 136px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    background: #00a0e2;
    cursor: pointer;
}

.seach-wx {
    width: 290px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #fff;
    position: relative;
    margin-right: 20px;
}

.seach-wx input {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 45px 0 15px;
    font-size: 14px;

}

.seach-wx b {
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    height: 40px;
}

.setting-main {
    padding-bottom: 370px;
}

.setting-main table {
    width: 1200px;
    border-collapse:separate;
 border-spacing:0 10px;
}

.setting-main tr {
}

.setting-main tr th, .setting-main tr td {
    color: #333333;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 400;
    text-align: center;
    background: #fff;
}
.setting-main tr th{
    height: 48px;
    margin-bottom: 10px;
}
.setting-main tr td{
    padding:15px 22px;
    height: 94px;

}
.setting-main tr td:nth-of-type(1),.setting-main tr td:last-of-type{
    text-align: left;
}
.setting-main tr td:nth-of-type(2) p{
    width: 130px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;/*不换行*/
}
.setting-main tr td:nth-of-type(2):hover p{
    overflow: visible;
    text-overflow: clip;
    white-space: normal;/*不换行*/
}
.setting-main tr:first-of-type:hover{
    box-shadow: none;
}
.setting-main tr:hover {
    box-shadow: 6px 4px 20px 1px #ddd;
}
.setting-main tr:hover td:last-of-type a:nth-of-type(1){
    background: #73d2f5;
}
.setting-main tr:hover td:last-of-type a:nth-of-type(2){
    background: #8073f5;
}
.setting-main tr:hover td:last-of-type a:nth-of-type(3){
    background: #f57272;
}
.setting-main tr:hover td:last-of-type a:nth-of-type(4){
    background: #f5b473;
}
.setting-main tr:hover td:last-of-type a:nth-of-type(5){
    background: #73c1f5;
}
.setting-main tr td a {
    display: inline-block;
    padding:0 6px;
    background: #cad3d6;
    border-radius: 5px;
    margin:0 5px;
    line-height: 31px;
    color: #fff;
}
.setting-main tr td a:nth-of-type(3){
    margin-right: 0;
}
.setting-main tr td a b{
    margin-right: 8px;
    font-size: 20px;
}
.setting-main tr td .user-icon{
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15%;
}
.setting-main tr td:first-of-type span{
    vertical-align: middle;
    width: 98px;
    text-align: center;
}

/*授权接入*/
.allow {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    display: none;
    background: rgba(0,0,0,.4);
}

.allow-box {
    background: #fff;
    width: 420px;
    padding-bottom:50px;
    position: relative;
    box-shadow: 1px 1px 5px #b8b8b8;
}

.allow h3 {
    background: #f6f6f6;
    padding-left: 26px;
    font-size: 16px;
    color: #333333;
    line-height: 66px;
}
.allow .allow-type{
    position: relative;
    text-align: center;
}
.allow .allow-type i{
    margin:35px 0 45px;
    cursor: pointer;
}
.allow .allow-type h4{
font-size: 18px;
    color: #333333;
    margin-bottom:25px;
}
.allow .allow-type p{
    font-size: 14px;
    color: #666666;
    line-height: 23px;
    width: 320px;
    margin:0 auto;
}
.allow-type a{
    display: block;
    position: relative;
    height: 110px;
}
.allow-type a img#adopt{
    opacity:0;
    z-index: 10;
}
.allow-type a img:hover#adopt{
    display: block;
    opacity: 1;
}
.allow .close-allow{
    position: absolute;
    right:24px;
    top:25px;
    font-size: 20px;
}
.oper-box{
    background: #fff;
    width: 480px;
    min-height: 250px;
}
.oper-main{
    padding:0 10%;
}
.oper-code{
    margin:30px 0 10px;
    border-radius: 40px;
}
.oper-main input{
    width: 69.8%;
    height:40px;
    float: left;
    border:1px solid #ddd;
    border-right: none;
    padding:0 10px;
}
.oper-code button{
    float: left;
    outline: none;
    width: 30%;
    height: 40px;
    border:1px solid #ddd;
    background: #e3f7ff;
}
.oper-main .sub{
    width: 120px;
    background: #00a0e2;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    height: 40px;
    margin:30px auto;
    cursor: pointer;
}
/*底部*/
/*底部提示*/
.setting-foot {
    height: 50px;
    background: #00a0e2;
    width: 100%;
}
.set-foot-txt {
    line-height: 50px;
    color: #fff;
    font-size: 14px;
    width: 100%;
}
.set-foot-txt ul{
    display: inline-block;
    position: relative;
    left: 50%;
    transform:translateX(-50%);
}
.set-foot-txt ul li {
    padding:0 40px;
    cursor: pointer;
    display: inline-block;
    border-right: 1px solid #fff;
}
.set-foot-txt ul li:last-of-type{
    border:none;
}
.set-foot-txt a {
    color: #fff;
}