
/*滚动弹出*/
.radio-box {
    width: 100%;
    height: 50px;
    background: #f9f9f9;
    border-bottom: 1px solid #eeeeee;

}

.radio {
    padding-top: 18px;
    font-size: 12px;
    color: #666666;
    width: 540px;
    overflow: hidden;
}

.radio i {
    width: 15px;
    height: 13px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 3px;
}

.listNum {
    height: 30px;
}

.listNum ul {
    padding-top: 15px;
}

.listNum ul li {
    padding: 0 20px;
    border-right: 1px solid #e4e3e3;
    color: #333333;
    font-size: 12px;
}

.listNum ul li span {
    font-size: 20px;
    color: #008acb;
    font-weight: bold;
    padding: 0 5px;
}
.listNum ul li:last-of-type {
    border: none;
    padding-right: 0;
}
.cmd-vdo{
    position: fixed;
    left: 0;
    top:0;
    display:none;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
}
.cmd-vdo .clo-vdo{
    color: #fff;
    position: absolute;
    font-size: 20px;
    right:0;
    top:-30px;
}
.cmd-vdo .vdo-box,.cmd-vdo .vdo-box video{
    width: 800px;
}
/*<!--微信小程序菜单-->*/
.wx-box {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

h2.blacks {
    color: #000000;
}

.wx-menu {
    margin-top: 20px;
}

.wx-menu ul li {
    width: 260px;
    float: left;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 0 5px transparent;
            box-shadow: 0 0 5px transparent;
    border-radius: 10px;
    padding: 0 20px;
    margin: 0 16px;
    cursor: pointer;
}

.wx-menu ul li:hover {
    border: 1px solid #93dcff;
    -webkit-box-shadow: 0 0 5px #93dcff;
            box-shadow: 0 0 5px #93dcff;
}

.wx-menu ul li .wx-img {
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
}

.wx-menu ul li .wx-img img {
    display: inline;
}

.wx-menu ul li h4 {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.wx-menu ul li p {
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #666666;
    margin-bottom: 22px;
    overflow: hidden;
    text-overflow: ellipsis; /*超出文本出现省略号*/
    display: -webkit-box; /*设置成一个弹性的盒子*/
    -webkit-line-clamp: 2; /*只显示三行*/
    -webkit-box-orient: vertical; /*垂直方向 竖向显示*/
    line-height: 22px;
}

.wx-box .more {
    width: 250px;
    height: 60px;
    background: #008acb;
    border-radius: 10px;
    margin: 40px auto;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    color: #fff;
}

/*更多小程序特性*/
.fun {
    width: 100%;
    background: url("../img/beijingshoye.png") no-repeat center;
    height: 625px;
    padding-top: 70px;
}

.fun ul {
    margin-top: 55px;
}

.fun ul li {
    width: 300px;
    height: 200px;
    margin-left: 80px;
    cursor: pointer;
}

.fun ul li .fun-each {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.fun ul li span {
    display: none;
    margin-top: 7px;
    padding: 0 24px 0 31px;
    font-size: 12px;
    color: #cecece;
    line-height: 22px;
    text-align: center;
}

.fun ul li p {
    display: inline-block;
    margin: 0 auto;
    margin-top: 35px;
    padding-left: 77px;
    line-height: 41px;
    font-size: 20px;
    color: #fff;
}

.fun ul li p i {
    float: left;
    display: inline-block;
    margin-right: 22px;

}

/*微信小程序可以解决那些问题*/
.problem {
    width: 100%;
    padding-top: 52px;

}

.problem .w {
    height: 636px;
    padding-bottom: 117px;
    padding-top: 78px;
    background: url("../img/shouji111.png") no-repeat center 200px;
}

.pro-each {
    margin-top: 62px;
    width: 398px;
    height: 85px;
    float: left;

    margin-right: 200px;
}

.pro-each:nth-of-type(odd) {
    padding-right: 12px;
    float: right;
    margin-right: 0;
    margin-left: 200px;
}

.pro-each:nth-of-type(odd) img {
    margin-left: 35px;
    margin-right: 0;
    float: right;
}

.pro-each:nth-of-type(odd) .each-txt {
    float: right;
    text-align: right;
}

.pro-each img {
    margin-right: 35px;
    float: left;
    width: 45px;
    height: auto;
}

.pro-each .each-txt {
    float: left;
    width: 280px;
}

.pro-each .each-txt h5 {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.pro-each .each-txt p {
    line-height: 20px;
    margin-top: 7px;
    font-size: 14px;
    color: #999999;
}

/*成功案例*/
.success {
    width: 100%;
    background: #f3f3f3;
    padding-top: 95px;
    padding-bottom: 160px
}

.success .w {
    margin-top: 116px;
}

/*灰色*/
.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);

    filter: grayscale(100%);

    -webkit-filter: gray;

            filter: gray;
}

.success .w ul li {
    width: 239px;
    height: 239px;
    float: left;
    position: relative;
    border: 1px solid transparent;
    overflow: hidden;
    cursor: pointer;
}

.success .w ul li > img {
    width: 100%;
    height: auto;
}

.success .w ul li .suc-top {
    width: 100%;
    padding: 40px 28px 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.success .w ul li .suc-top img {
    position: relative;
    top: 0;
    left: 0;

}

.success .w ul li .suc-top h5 {
    font-weight: bold;
    color: #f4f3f5;
    font-size: 20px;
    margin-bottom: 10px;
}

.success .w ul li .suc-top p {
    font-size: 16px;
    color: #f4f3f5;
    position: relative;
}

.success .w ul li .black {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .3)
}
.success .suc-top p:after {
    content: "";
    width: 44px;
    height: 1px;
    background: #b9bcc0;
    position: absolute;;
    left: 0;
    bottom: -13px;
}

.success .suc-top .more {
    margin-top: 63px;
    width: 124px;
    height: 39px;
    border: 1px solid #b0afae;
    border-radius: 4px;
    text-align: center;
    line-height: 39px;
    font-size: 16px;
    color: #f2eeeb;
}

.success .suc-top .more:hover {
    background: #1975bb;
    border-color: #1975bb;
    color: #fff;
}

.success .black {

}

.success .black .suc-ewm {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 176px;
    height: 176px;
    overflow: hidden;
    border-radius: 5px;
}

.success .black .suc-ewm img {
    width: 176px;
}

/*解决方案*/
.plan {
    padding-top: 137px;
    background: url("../img/bg.png") no-repeat center;
    height: 880px;
}

.plan .plan-main {
    padding-top: 104px;

}

.plan .plan-main ul li {
    width: 280px;
    height: 190px;
    border-radius: 5px;
    margin: 0 19px 112px 0;
    background: #fff;
    float: left;
}

.plan .plan-main ul li h5 {
    display: inline-block;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 20px;
    color: #333333;
    position: relative;
    margin-top: 49px;
    margin-bottom: 14px;
    font-weight: bold;

}

.plan .plan-main ul li h5.blues:before {
    content: "";
    width: 3px;
    height: 18px;
    background: #7374eb;
    position: absolute;
    left: -14px;
    top: 3px;
}

.plan .plan-main ul li h5.reds:before {
    background: #ff3d58;
    content: "";
    width: 3px;
    height: 18px;
    position: absolute;
    left: -14px;
    top: 3px;
}

.plan .plan-main ul li p {
    line-height: 23px;
    font-size: 12px;
    color: #777777;
    width: 240px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis; /*超出文本出现省略号*/
    display: -webkit-box; /*设置成一个弹性的盒子*/
    -webkit-line-clamp: 3; /*只显示三行*/
    -webkit-box-orient: vertical; /*垂直方向 竖向显示*/
}

/*功能体系*/
.tixi {
    padding: 136px 0 115px;
}

.tixi .w {
    padding-top: 70px;

}

.tixi .w ul {

}

.tixi .w ul li {
    width: 122px;
    border-radius: 5px;
    text-align: center;
    line-height: 122px;
    margin: 0 12px 13px 0;
    float: left;
}

.tixi .w ul li:nth-of-type(9n) {
    margin-right: 0;
}

/*合作伙伴*/
.friend {
    padding-bottom: 104px;
}

.friend ul {
    padding-top: 70px;
}

.friend ul li {
    float: left;
    margin: 0 8px 9px 0;
    width: 193px;
    height: 108px;
    overflow: hidden;
}

.friend ul li:nth-of-type(6n) {
    margin-right: 0;
}

.friend ul li img {
    width: 100%;
    height: auto;
}

#loutinav {
    width: 100px;
    border: 1px solid transparent;
    z-index: 1000;
    position: fixed;
    top: 150px;
    left: 0;

    transition: all .5s;
}

#loutinav ul li {
    width: 100%;
    height: 70px;
    border-bottom: 1px dotted #dddddd;
    font-size: 14px;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 10px 0;
    background: #fff;
    color: #666666;
}

#loutinav ul li span {
    position: absolute;
    top: 0;
    left: -1px;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
}

#loutinav ul li.active span {
    background: #008acb;
    color: #fff;
    width: 100px;
    height: 71px;
    display: block;
}

#loutinav ul li:hover span {
    width: 100px;
    background: #008acb;
    color: #fff;
    height: 71px;
}

#loutinav .close-lou {
    position: absolute;
    top: -61px;
    right: 0;
    width: 36px;
    height: 60px;
}

.min-louti {
    width: 40px;
    height: 142px;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: none;
}

/*右侧聊天窗口*/
.tell-r {
    z-index: 1000;
    position: fixed;
    width: 170px;
    top: 100px;
    right: 0;
    background: #008acb;
    padding: 0 2px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.tell-r.tell-r-min {
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.tell-r .tell-top {
    width: 100%;
    height: 100px;
    text-align: center;
}

.tell-r .tell-top img {
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 140px;
}

.tell-main {
    padding: 0 8px;
    background: #fff;
}

.tell-main .tell-we {
    width: 150px;
    height: 40px;
    position: relative;
    top: 10px;
    padding: 10px;
    overflow: hidden;
    zoom: 1;
    background: #008acb;
    color: #fff;
    cursor: pointer;
}

.tell-main .tell-we i {
    font-size: 20px;
    float: left;
    margin: 0 10px;
}

.tell-main .tell-we b {
    font-size: 20px;
    float: right;
}

.tell-main .tell-we span {
    display: inline-block;
    font-size: 16px;
    float: left;
}

.tell-each {
    width: 100%;
    height: 72px;
    border-top: 1px solid #dddddd;
    padding: 20px 0 15px 0;
    cursor: pointer;
}

.tell-each .tell-box {
    width: 50px;
    height: 100%;
}

.tell-each .tell-icon {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.tell-each .tell-txt p:first-of-type {
    color: #333333;
    font-size: 14px;
}

.tell-each .tell-txt p:last-of-type {
    color: #999999;
    font-size: 12px;
}

.tell-foot {
    position: relative;
    left: -2px;
    padding: 20px 0 15px 0;
}

.tell-foot i {
    font-size: 35px;
    color: #fff;
    vertical-align: middle;
    margin: 0 5px 0 6px;
}

.tell-foot span {
    display: inline-block;
    line-height: 36px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    vertical-align: middle;
}

.tell-each:last-of-type .tell-txt p {
    color: #008acb;
}

.close-r {
    position: absolute;
    bottom: -75px;
    right: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    font-size: 30px;
    color: #000;
    background: #ddd;
    width: 58px;
    height: 89px;
    background: url("../img/xl.png") center no-repeat;
}
