h2 {
    font-size: 28px;
    color: #333333;
    margin: 55px 0 44px;
    text-align: center;
    font-weight: bold;
}

.w >ul {
}

.w >ul >li {
    border: 1px solid #e5e5e5;
    margin-bottom: 40px;
}

.w >ul >li >p {
    border-bottom: 1px solid #e5e5e5;
    line-height: 75px;
    height: 75px;
    background: #f6f6f6;
}

.w >ul >li p span {
    padding-left: 65px;
    font-size: 20px;
    color: #00a0e2;
    position: relative;
}
.w >ul >li p span:after{
    content: "";
    width: 10px;
    height: 10px;
    background: #00a0e2;
    position: absolute;
    left: 44px;
    top:50%;
    transform: translateY(-50%);
}
ul >li >ol{
    padding:33px 2% 9px;
}
ul >li >ol >li{
    width: 16%;
    float: left;
    text-align: center;
    margin-bottom: 33px;
}
ul >li >ol >li a{
    font-size: 16px;
    color: #666666;
}
/*友情链接*/
.links-box{
    padding:53px 62px 0;
}
.links-box .links-each{
    margin-bottom:68px;
}
.links-box .links-each .l-each{
    width: 462px;

}
.links-box .links-each .l-each h5{
font-size: 20px;
    color: #333333;
    margin-bottom: 23px;
}
.links-box .links-each .l-each .each-box{
    height: 196px;
    color: #999999;
    border:1px solid #d8d8d8;
    position: relative;
    border-radius: 5px;
}
.links-box .links-each .l-each .each-box span{
    display: block;

}
.links-box .links-each .l-each .each-box span script{
    font-size: 20px;
    color: #999999;
}
.links-copy{
    margin-top:20px;
    width: 150px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-size: 20px;
    border:1px solid #00a0e2;
    color: #00a0e2;
    border-radius: 5px;
}
.links-copy:hover{
    background: #00a0e2;
    color: #fff;
}
.step{
    padding:46px;
}
.step-each{
margin-bottom: 20px;
}
.step-each p{
    font-size: 20px;
    color: #00a0e2;
    margin-bottom: 28px;
}
.step-each span{
    display: block;
    margin-bottom:9px;
    padding-left: 20px;
    font-size: 16px;
    color: #666666;
}

