h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.vdo {
    width: 100%;
    height: 527px;
    background: #232323;
    overflow: hidden;
    position: relative;
}

.vdo .vdo-l {
    width: 67%;
    height: 100%;

}

.vdo .vdo-l video {
    transition: all .5s;
}

.video-js .vjs-big-play-button {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vdo-r {
    right: 0;
    top: 0;
    position: absolute;
    width: 33%;
    height: 100%;
    transition: all .5s;
}

.vdo-r.active {
    margin-right: -33%;
    transition: all .5s;
}

.vdof-top {
    height: 39px;
    border: 1px solid #434343;
    padding-left: 40px;
    border-top: 0;
    background: #383838;
}

.vdof-top ul {
    width: 100%;
    height: 100%;
}

.vdof-top ul li {
    float: left;
    vertical-align: bottom;
    background: #2d2d2d;
    color: #cbcbcb;
    text-align: center;
    line-height: 29px;
    height: 30px;
    border: 1px solid #434343;
    border-bottom: none;
    padding: 0 16px;
    margin-top: 9px;
}

/*右侧相关视频*/
.vdor-list {
    background: #232323;
    padding-left: 20px;
    height: 485px;
    width: 100%;
    overflow: auto;
    position: relative;
    scrollbar-arrow-color: #828080; /*三角箭头的颜色*/
    scrollbar-face-color: #828080; /*立体滚动条的颜色（包括箭头部分的背景色）*/
    scrollbar-3dlight-color: #828080; /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #828080; /*滚动条的高亮颜色（左阴影？）*/
    scrollbar-shadow-color: #828080; /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #2d2d2d; /*立体滚动条外阴影的颜色*/
    scrollbar-track-color: #2d2d2d; /*立体滚动条背景颜色*/
    scrollbar-base-color: #2d2d2d; /*滚动条的基色*/
}

.vdor-list::-webkit-scrollbar-track-piece {
    background-color: #2d2d2d;
}

.vdor-list::-webkit-scrollbar {
    width: 5px;
    height: 13px;
    position: absolute;
    right: 0;
}

.vdor-list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #828080;
    background-clip: padding-box;
    min-height: 28px;
}

.vdor-list ul {
    width: 357px;
}

.vdor-list ul li {
    height: 82px;
    background: #383838;
    margin-top: 14px;
    zoom: 1;
    cursor: pointer;
}

.vdor-list ul li:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.vdor-list ul li .list-img {
    float: left;
    width: 110px;
    height: 82px;
    border: 3px solid transparent;
    overflow: hidden;
}

.vdor-list ul li .list-r {
    float: left;
    width: 246px;
    padding-left: 11px;
    font-size: 14px;
    padding-top: 7px;
}

.vdor-list ul li .list-r p {
    color: #bbbbbb;
    line-height: 20px;
    height: 50px;
}

.vdor-list ul li .list-r span {
    color: #999999;
}

.vdor-list ul li:hover .list-r p {
    color: #00a0e2;
}

.vdor-list ul li.active .list-img {
    border-color: #00a0e2;
}

.vdor-list ul li.active .list-r p {
    color: #00a0e2;
}

.vdo-r .maxW {
    position: absolute;
    top: 50%;
    margin-top: -41px;
    height: 83px;
    width: 16px;
    text-align: center;
    line-height: 83px;
    color: #fff;
    font-size: 12px;
    left: 0;
    cursor: pointer;
    background: #383838;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.vdo-r .maxW.active {
    left: -16px;
    border-radius: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.vdo-r .maxW.active i {
    display: inline-block;
    transform: rotate(180deg);
}

/*分享*/
.share {
    line-height: 42px;
    color: #333333;
    padding-bottom: 20px;
}

.share a {
    vertical-align: middle;
    color: #8d959c;
    font-size: 15px;
    padding: 0 5px;
}

.share span {
    padding-right: 10px;
}

.share i:hover {
    color: #00a0e2;
}

/*简介*/
.vdo-txt {
padding-bottom: 40px;
}

.vdo-txt h3 {
    font-size: 16px;
    color: #333333;
    line-height: 56px;
}
.vdo-txt p{
    font-size: 14px;
    color: #666666;
    line-height: 25px;
}

/*更多推荐*/
.mores {
    padding-bottom: 90px;
}
.mores .mores-top{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    border:1px solid #eeeeee;
    margin-bottom: 30px;
}
.mores ul li {
    float: left;
    width: 222px;
    margin-right: 20px;
    cursor: pointer;
    border:1px solid #eee;
}

.mores ul li:last-of-type {
    margin: 0;
}

.mores ul li .more-img {
    width: 222px;
    height: 222px;
    overflow: hidden;
    position: relative;
    left: -1px;
    top: -1px;
}

.mores ul li .more-img > img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.mores ul li .more-img .blk {
    display: none;
}

.mores ul li .more-img:hover .blk {
    display: block;
}

.mores ul li .more-img .blk img {
    width: 133px;
    height: 133px;
    border-radius: 10px;
}

.mores .more-txt {
    padding: 10px;

}

.mores .more-txt h5 a {
    display: inline-block;
    width: 200px;
    font-size: 16px;
    color: #333333;
    line-height: 25px;
}

.mores .more-txt p {
    font-size: 14px;
    color: #999999;
    line-height: 30px;
}

.mores .more-txt .more-type {
    margin-top: 15px;
    font-size: 14px;
    color: #999999;
}

.mores .more-txt .more-type em {
    padding-left: 5px;
}
.mores .more-txt .more-type .more-Tmoney em {
    color: #00a0e2;
    font-size: 16px;
}