body{
    background: #f6f6f6;
}
.fabu-top{
    background: #fff;
    margin-top:20px;
}
.fabu-top h3{
    font-size: 18px;
    color: #333333;
    line-height: 54px;
    border-bottom: 1px solid #eeeeee;
    padding-left: 36px;
}
.reg-box{
    height: 60px;
    padding:0 36px;
}
.reg-box .reg-txt{
    line-height: 60px;
    font-size: 14px;
    color: #333333;
}
.reg-box .reg-txt span{
    color: #00a0e2;
}
.reg-rel{
    width: 120px;
    cursor: pointer;
    height: 40px;
    background: #00a0e2;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin:20px 36px;
}
.wx-edit input,.wx-edit textarea{
    font-size: 14px;
}
.wx-edit {
    margin: 20px auto 50px;
    background: #fff;
    padding-top:30px;
}
.wx-edit ul li{
    padding-bottom:20px;
    zoom: 1;
}
.wx-edit ul li:after{
    clear: both;
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.wx-edit ul li .edit-txt{
    width: 410px;
    text-align: right;
    margin-right: 10px;
    float: left;
    line-height: 42px;
    font-size: 16px;
}
.wx-edit ul li .edit-main{
    float: left;
}
.wx-edit ul li .edit-main input[type="text"]{
    width: 536px;
    height: 42px;
    border:1px solid #eeeeee;
    padding:5px;
}
.wx-edit ul li textarea{
    width: 536px;
    height: 124px;
    border:1px solid #eeeeee;
    padding:5px;
}
.edit-main p{
    color:#f70000;
    line-height: 42px;
    font-size: 14px;
}
.wx-edit i {
    color: #c40000;
}

.wx-edit span {
    color: #333333;
}
.wx-edit em{
    color: #666666;
}

.wx-logo {
    width: 140px;
    height: 90px;
    background: #00a0e2;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    position: relative;
}

.wx-prv{
    padding:50px 0 50px;
}
.wx-prv .prv-box{
    width: 120px;
    height:40px;
    background: #00a0e2;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin:0 auto;
    margin-bottom:35px
}
.wx-prv p{
    text-align: center;
    font-size:16px;
}
.wx-prv p span{
color: #333333;
}
.wx-prv p a{
color: #00a0e2;
}

.wx-edit li:last-of-type input{
    width: 16px;
    height: 16px;
    margin:0 8px;
    vertical-align:text-top;
}
.wx-edit li:last-of-type label{
    font-size: 16px;
    color: #333333;
}
/*底部提示*/
.setting-foot {
    height: 50px;
    background: #00a0e2;
    width: 100%;
}
.set-foot-txt {
    line-height: 50px;
    color: #fff;
    font-size: 14px;
}
.set-foot-txt ul{
    display: inline-block;
    position: relative;
    left: 50%;
    transform:translateX(-50%);
}
.set-foot-txt ul li {
    padding:0 40px;
    cursor: pointer;
    display: inline-block;
    border-right: 1px solid #fff;
}
.set-foot-txt ul li:last-of-type{
    border:none;
}
.set-foot-txt a {
    color: #fff;
}