.shoping-box {

}

body {
    background: #f2f2f2
}
.router {
    padding-left: 50px;
}

.shoping-box .shoping-l {
    width: 271px;
    background: #fff;
    position: absolute;
    transition: all .5s;
    left: 0;
}
.shoping-box .shoping-l.move{
    left: -275px;
}
.shoping-l ul{
    border: 1px solid #e5e5e5;
}
.shoping-l ul > li h3 {
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    background: #f1f1f1;
    line-height: 50px;
    padding-left: 20px;
    position: relative;
}
.shoping-l ul > li:last-of-type h3{
    border-color: #f1f1f1;
}
.shoping-l ul > li i {
    display: inline-block;
    /*    float: right;
        margin:15px 28px 0 0;*/
    position: absolute;
    top: 40%;
    transform: translateY(-50);
    right: 28px;
    transition: all 0.5s;
}



.shoping-l ul > li {
    transition: all 0.5s;
    overflow: hidden;
}
.shoping-l ul > li.active{
    height: 51px;
}
.shoping-l ul > li.active i {
    transform: rotate(-90deg);
}
.shoping-l ul > li ol {
    border-bottom: 1px solid #e5e5e5;
    padding: 21px 15px;
    color: #666666;
    font-size: 12px;

}

.shoping-l ul > li:last-of-type ol {
    border: 0;
}
.shoping-l ul > li ol li {
    width: 33%;
    float: left;
    line-height: 100%;
    margin-bottom: 15px;
}

.shoping-l ul > li ol li:hover {
    color: #00a0e2;
    cursor: pointer;
}

/*右侧信息展示*/
.shoping-r {
padding-left: 300px;
    transition: all .5s;
}
.shoping-r.move{
    padding-left:30px;
}
.shoping-r .shoping-top {
    margin-bottom: 30px;
}

.shoping-top .shop-top-list {
    zoom: 1;
    position: relative;
}

.shop-top-list i {
    position: absolute;
    left:-30px;top:0;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    background: #ddd;
    color: #fff;
    font-size: 30px;
}
.shop-top-list i.active{
    transform:rotate(180deg);
}

.shop-top-list i:hover{
    background: #00a0e2;
}
.shop-top-list em{
    display: inline-block;
    float: left;
    height: 30px;
    line-height: 30px;
    color: #666666;
    padding:0 5px 0 10px;
}
.shop-top-list b {
    display: inline-block;
    padding: 0 10px;
    height: 100%;
    color: #666666;
    float: left;
    background: #fff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
}

.shop-top-list b.active {
    background: #00a0e2;
    color: #fff;
}

.shop-top-list span {
    float: left;
    font-size: 12px;
    padding: 0 10px;
    line-height: 30px;
    color: #999999;
}
.shop-top-list span label{
    color: #00a0e2;
    padding:0 5px;
}
.shop-top-seach {
    width: 270px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #e7e7e7;
    position: relative;
    background: #fff;
    margin-top:-5px;
}

.shop-top-seach input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    padding-left: 30px;
    font-size: 14px;
    color: #666666;
    padding-right: 50px;
}
#pagination1{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}
.shop-top-seach i {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 26px;
    top: 8px;
}

.shoping-main {
}

.shoping-main ul li {
    width: 295px;
    height: 410px;
    border: 1px solid #e5e5e5;
    float: left;
    margin:5px;
    transition: all .5s;
    background: #fff;
}
.shoping-main ul li:hover{
    box-shadow: 0 0 3px 5px #bbb;
}

.shoping-main .show-img {
    width: 295px;
    height: 290px;
    text-align: center;
    position: relative;
    overflow: hidden;
    left: -1px;
    top:-1px;
}
.shoping-main .show-img >img{
    width: 100%;
}
.shoping-main .show-img .back {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.shoping-main .show-img:hover .back {
    display: block;
}

.shoping-main li h4 {
    padding:0 7px;
    color: #333333;
    font-size: 14px;
    line-height: 37px;
    text-align: center;
}

.shoping-main li p {
    line-height: 25px;
    color: #999999;
    padding:0 7px;
    font-size: 12px;
    text-align: center;
}

.show-price {
    padding-left: 7px;
    color: #999999;
    font-size: 12px;
}

.show-price em {
    width: 49%;
    display: inline-block;
    text-align: center;

}
.show-price em:first-of-type span{
    font-size: 14px;
    color: #00a0e2;
    font-weight: bold;
}
.show-price em:last-of-type {
    text-align: center;
    color: #71cd9c;
}

.show-price em:last-of-type i {
    display: inline-block;
    margin-bottom:-1px;
}
.shoping-main .show-lab{
    margin:5px 0;
    padding-left: 10px;
}
.shoping-main .show-lab .show-type{
    display: inline-block;
    line-height: 24px;
    color: #666666;
    padding:0 6px;
    margin:0 3px;
    border-radius: 3px;
    background: #f8e4a8;
}
.shoping-main .show-lab .showS{
    display: inline-block;
    line-height: 22px;
    padding:0 6px;
    margin:0 3px;
    border:1px solid #26bcfa;
    color: #26bcfa;
    border-radius: 3px;
}