body {
    min-width: 100%;
}
h2 {
    font-size: 28px;
    color: #1f1f1f;
    font-weight: bold;
    line-height: 110px;
    text-align: center;
}
.study-tap ul li {
    width: 393px;
    height: 91px;
    display: inline-block;
    margin-right: 9px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    float: left;
    line-height: 91px;
    position: relative;
    background-position: center;
    background-size: 100%;
}

.study-tap ul li:before {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background: #fff;
    bottom: 25px;
    left: 50%;
    margin-left: -33px;
}

.study-tap ul li:nth-of-type(1) {
    background-image: url("../img/std-tap1.png");
}

.study-tap ul li:nth-of-type(2) {
    background-image: url("../img/std-tap2.png");

}

.study-tap ul li:nth-of-type(3) {
    background-image: url("../img/std-tap3.png");

    margin: 0;
}

.study-txt {
    font-size: 14px;
    color: #666666;
    line-height: 31px;
    margin-top: 14px;
}

/*学院楼层*/
.study-class {
}

.class-txt {
    line-height: 55px;
    font-size: 16px;
    font-weight: bold;
}
.class-txt i{
    vertical-align: middle;
    margin-right: 5px;
}
.study-txt i {
    margin-right: 5px;
    vertical-align: middle;
}

.study-class .class-main {
}

.study-class .class-main ul li {
    width: 290px;
    height: 350px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #eeeeee;
    float: left;
    cursor: pointer;
}

.study-class .class-main ul li:nth-of-type(4n) {
    margin-right: 0;
}

.study-class .class-main ul li .videos {
    width: 290px;
    height: 230px;
    overflow: hidden;
    position: relative;
    left: -1px;
    top: -1px;
}

.study-class .class-main ul li .class-text {
    padding: 0 12px;
}

.study-class .class-main ul li h5 a {
    font-size: 16px;
    color: #1f1f1f;
    line-height: 35px;
}

.study-class .class-main ul li p {
    font-size: 14px;
    color: #999999;
    line-height: 23px;
    width: 266px;
    overflow: hidden;
    text-overflow: ellipsis; /*超出文本出现省略号*/
    display: -webkit-box; /*设置成一个弹性的盒子*/
    -webkit-line-clamp: 2; /*只显示三行*/
    -webkit-box-orient: vertical; /*垂直方向 竖向显示*/
}

.study-class .class-main ul li span {
    padding-top: 10px;
    font-size: 14px;
    color: #999999;
    display: inline-block;
}

/*微信销售*/
.sell-box {
}

.sell-box ul li{
    float: left;
}
.sell-box ul li .sell-each {
    width: 290px;
    height: 230px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
}

.sell-box ul li .sell-each:nth-of-type(4n) {
    margin-right: 0;
}

.sell-box ul li .sell-each img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.sell-box ul li .sell-each .sell-txt {
    position: absolute;
    width: 183px;
    height: 54px;
    border: 1px solid #fff;
    left: 50%;
    top: 50%;
    margin-top: -27px;
    margin-left: -91.4px;
    text-align: center;
    line-height: 52px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
}

.sell-main {
    position: relative;
    padding-bottom: 80px;
}

.sell-each .sell-text {
    transition: all .5s;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #00a0e2;
    z-index: 5;
    padding: 10px 12px;
}

.sell-each .sell-text .sell-text-box {
    border: 1px solid #73cbef;
    width: 100%;
    height: 100%;
    padding: 35px 13px 0;
    color: #fff;
}

.sell-each .sell-text h5 a {
    font-size: 16px;
    line-height: 32px;
    color: #fff;

}

.sell-each .sell-text p {
    font-size: 14px;
    color: #eaeaea;
    width: 238px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis; /*超出文本出现省略号*/
    display: -webkit-box; /*设置成一个弹性的盒子*/
    -webkit-line-clamp: 2; /*只显示三行*/
    -webkit-box-orient: vertical; /*垂直方向 竖向显示*/
}

.sell-each .sell-text span {
    font-size: 14px;
    padding-top: 18px;
    display: inline-block;
}

.sell-box ul li .sell-each:hover .sell-text {
    opacity: 1;
}

.sell-main .banner {
    position: relative;
}

.sell-main .hd {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    bottom: -48px;
}

.sell-main .hd li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 8px;
    vertical-align: middle;
    background: #e9e9e9;
    text-indent: -999em;
    border-radius: 6px;
    margin-top:8px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

.sell-main .hd li.on {
    background: #00a0e2;
    opacity: 1;
}
.sell-main .hd a{
    position: absolute;
}
.sell-main .hd a.prev{
    left: -40px;
}
.sell-main .hd a.next{
    right: -40px;
}
.sell-main .hd  a i {
    background: #e9e9e9;
    text-align: center;
    line-height: 29px;
    height: 29px;
    width: 29px;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
    margin: 0 8px;
}

.sell-main a:hover i {
    background: #00a0e2;
}

/*更多推荐*/
.mores {
    padding-bottom: 90px;
}
.mores .mores-top{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    border:1px solid #eeeeee;
    margin-bottom: 30px;
}
.mores ul li {
    float: left;
    width: 222px;
    margin-right: 20px;
    cursor: pointer;
    border:1px solid #eee;
}

.mores ul li:last-of-type {
    margin: 0;
}

.mores ul li .more-img {
    width: 222px;
    height: 222px;
    overflow: hidden;
    position: relative;
    left: -1px;
    top: -1px;
}

.mores ul li .more-img > img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.mores ul li .more-img .blk {
    display: none;
}

.mores ul li .more-img:hover .blk {
    display: block;
}

.mores ul li .more-img .blk img {
    width: 133px;
    height: 133px;
    border-radius: 10px;
}

.mores .more-txt {
    padding: 10px;

}

.mores .more-txt h5 a {
    display: inline-block;
    width: 200px;
    font-size: 16px;
    color: #333333;
    line-height: 25px;
}

.mores .more-txt p {
    font-size: 14px;
    color: #999999;
    line-height: 30px;
}

.mores .more-txt .more-type {
    margin-top: 15px;
    font-size: 14px;
    color: #999999;
}

.mores .more-txt .more-type em {
    padding-left: 5px;
}