body{
    font-size: 20px;
    color: red;

}
#box {
    height: 100px;
    width: 100px;
}
#img{
    width: 400px;
    height: 200px;
    background: url("../img/57df433ba841f.jpg") center;
    background-size: cover;
}