@charset "utf-8";
/* CSS Document */
h1,h2,h3,h4,h5,h6,p,body,ul,li,dl,ol,dt,dd{ padding:0; margin:0}
a{ text-decoration:none; color:#333}
.navr a:hover{ color:#cc9634; font-size:16px; font-weight:bold}
li{ list-style:none}

.clearfix{*zoom:1}
.clearfix:after{clear:both;content:".";display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}

body{ font-size:12px; color:#666666; font-family:"微软雅黑"， Arial;}
.top{background:#0066cc; height:1px; width:940px; margin:auto; margin-top:90px}
.nav{ width:940px; margin:auto; position:relative; height:140px}
.a1{ width:940px; margin:auto; position:relative}
.logo{ position:absolute; top:-90px; float:left;z-index:2}
.tipt{ background:url(../images/topt.png) no-repeat; width:270px; height:48px; position:absolute; margin-top:-90px; margin-left:575px;}
.tipt p{ font-size:18px; color:#FFF; text-align:center; line-height:42px}
.topr{ position:absolute; top:-70px;z-index:2; margin-left:750px}
.font1,.font2{position:absolute;z-index:2}
.font1{ font-size:20px; font-weight:bold; color:#0066cc; margin-left:160px;top:-30px}
.font2{ font-size:14px; margin-left:160px; top:10px; color:#666666}


.banner,.contant1{ width:940px; margin:auto}
.banner{ padding-top:50px}

.contant1{ height:780px}
.ccenter{ border:#0066cc solid 3px; width:443px; height:103px; margin-top:188px; margin-left:249px; text-align:center; color:#000; font-size:20px; line-height:103px}
.ccc{ font-size:30px; color:#0066cc; font-weight:bold; margin-left:325px}


.cb{ margin-top:255px; margin-left:260px}
.xs{ border-bottom:solid #0066cc 1px; border-top:solid #fff 0px; border-left:solid #fff 0px; border-right:solid #fff 0px; width:338px; padding-top:20px}
.an{ height:20px; width:70px}
.form11 span{ color:#0066cc; font-size:20px; padding-top:20px}





.foot{ background-color:#0066cc; height:64px; width:940px; margin:auto}
.footerl{ margin-left:20px; margin-top:10px}
.footerl p{ font-size:24px; color:#FFF; line-height:64px; margin-top:-55px; margin-left:60px}
.footerl img{ display:inline-block; margin-top:15px}
.footerr{ margin-left:720px; font-size:14px; color:#FFF; margin-top:-52PX}

/*2*/
.contant2{ height:1125px;width:940px; margin:auto; padding-top:50px}
.infon{ margin-left:65px; margin-top:30px}
.tip{ border-bottom:#000 1px solid; width:810px}
.tip p{ font-size:20px; color:#333}
.tip span{ font-size:20px; color:#9fa0a0; padding-left:15px}

.form2{ padding-top:20px}
.form2 span{ display:inline-block; height:38px; width:123px; background-color: #C1C1C1; text-align:center; line-height:38px; color:#fff; font-size:14px}
.ank{ width:670px; height:32px; margin-left:10px; margin-bottom:10px}


.package{ margin-left:65px; margin-top:30px}
ul li{ float:left}
.one{ margin-top:25px; margin-left:30px}
.one1{ background:#e60012; width:242px; height:30px; font-size:14px; color:#fff; line-height:30px; text-indent:1em}
.one2{ border:#e60012 1px solid; width:240px; height:240px; margin-top:4px;font-size:80px; text-align:center; line-height:240px; color:#e60012}
.one11{border:#e60012 1px solid; width:242px; height:60px; margin-top:5px}
.one3{ font-size:14px; color:#e60012; text-indent:1em}
.one4{ font-size:30px; color:#e60012; text-indent:3em }
.one4 span{ font-size:14px; color:#e60012;}

.two{ margin-top:25px; padding-left:4px}
.two1{ background:#e60012; width:242px; height:30px; font-size:14px; color:#fff; line-height:30px; text-indent:1em}
.two2{ border:#e60012 1px solid; width:240px; height:240px; margin-top:4px;font-size:80px; text-align:center; line-height:240px; color:#e60012}
.two span{ font-size:50px}
.two11{border:#e60012 1px solid; width:242px; height:60px; margin-top:5px}
.two3{ font-size:14px; color:#e60012; text-indent:1em}
.two4{ font-size:30px; color:#e60012; text-indent:70px}
.two4 span{ font-size:14px; color:#e60012;}


.three{ margin-top:25px; padding-left:4px}
.threea{ margin-top:25px; padding-left:80px}
.three1{ background:#0066cc; width:242px; height:30px; font-size:14px; color:#fff; line-height:30px; text-indent:1em}
.three2{ border:#0066cc 1px solid; width:240px; height:240px; margin-top:4px;}
.three2 p{ font-size:40px; text-align:center; color:#0066cc;}
.three2 .n{ margin-top:80px}
.three span{ font-size:50px}
.three11{border:#0066cc 1px solid; width:242px; height:60px; margin-top:5px}
.three3{ font-size:14px; color:#0066cc; text-indent:1em}
.three4{ font-size:30px; color:#0066cc; text-indent:70px}
.three4 span{ font-size:14px; color:#0066cc;}


.zong{ border-bottom:#c9caca 1px solid; width:496px; margin-left:450px; font-size:60px; color:#c9caca; text-indent:45px; margin-top:70px}
.zong span{ font-size:20px;}


.cf{ padding-top:20px}
.cf p{ font-size:12px; color:#595757; text-align:right; padding-right:100px;}



/*设计说明*/
.contant3{ width:940px; margin:auto; padding-top:50px}
.design{ border:#0066cc 1px  solid; margin-top:12px; margin-left:66px; width:808px; height:178px; margin-bottom:10px }
.design p{ color:#0066cc; padding-left:80px;}
.d1{ padding-top:13px; font-size:20px; font-weight:bold}
p img{ padding-right:3px}
.d2{ padding-top:5px; font-size:14px}
.d3,.d4,.d5,.d6,.d7,{ font-size:14px; padding-top:6px}


.k li{ float:left}
.con1{ padding-left:83px}
.con1 p{ background:#0066cc; width:386px; height:30px; color:#FFF; text-align:center; line-height:30px}
.tu1{ border:#0066cc 1px  solid; width:384px; height:360px; margin-top:2px}
.con2{ padding-left:4px}
.con2 p{ background:#0066cc; width:386px; height:30px; color:#FFF; text-align:center; line-height:30px}
.tu2{ border:#0066cc 1px  solid; width:384px; height:360px; margin-top:2px}
.tip1{ width:776px; color:#0066cc; padding-left:83px; padding-top:10px; padding-bottom:20px; font-size:14px}


.two li{ float:left}
.con3{ padding-left:83px}
.con3 p{ background:#0066cc; width:386px; height:30px; color:#FFF; text-align:center; line-height:30px}
.tu3{ border:#0066cc 1px  solid; width:384px; height:360px; margin-top:2px}
.con4{ padding-left:4px}
.con4 p{ background:#0066cc; width:386px; height:30px; color:#FFF; text-align:center; line-height:30px}
.tu4{ border:#0066cc 1px  solid; width:384px; height:360px; margin-top:2px}
.tip2{ width:776px; color:#0066cc; padding-left:83px; padding-top:10px; padding-bottom:20px; font-size:14px}


/*配置清单*/
.contant4{ height:1125px; padding-top:50px; width:940px; margin:auto}
.contant4 p{color:#0066cc; font-size:30px; text-align:center; padding-bottom:20px; padding-top:30px; font-weight:bold}



.contant4 table{ border-collapse:collapse; margin:0 auto;}
.contant4 table,.contant4 th,.contant4 td{ border:1px #666 solid;color:#000}

.aaa{ text-indent:8px}

/*安装清单*/

.contant5{ height:1125px; padding-top:50px; width:940px; margin:auto}
.contant5 p{color:#0066cc; font-size:30px; text-align:center; padding-bottom:20px; padding-top:30px}



.contant5 table{ border-collapse:collapse; margin:0 auto;}
.contant5 table,.contant5 th,.contant5 td{ border:1px #0066cc solid;color:#0066cc}
.contant5 .one{ text-align:center; font-size:14px;color:#0066cc}
.contant5 ul{ margin-top:2px}
.contant5 ul li{ float:left; font-size:14px; color:#FFF; text-align:center; line-height:30px;}
.contant5 .b0{ background:#0066cc; width:118px; height:30px; margin-left:73px}
.contant5 .b1{ background:#0066cc; width:196px; height:30px;}
.contant5 .b2{ background:#0066cc; width:354px; height:30px;}
.contant5 .b3{ background:#0066cc; width:125px; height:30px;}
.contant5 .tip img{ display:block; margin-left:180px}








/*质保说明*/


.contant6{ height:1125px; padding-top:50px; width:940px; margin:auto}
.contant6 img{ padding-top:22px; padding-bottom:22px; display:block; margin:0 auto}
.contant6 p{ text-align:center}
.p{ margin-top:50px; color:#0066cc; font-size:30px; font-weight:bolder}
.p1{color:#0066cc; font-size:20px;margin-top:38px}
.p2{color:#0066cc; font-size:20px;margin-top:10px}
.p3,.contant6 .p4,.contant6 .p5,.contant6 .p6,.contant6 .p7{color:#0066cc; font-size:20px;}
.p8{ margin-top:60px; color:#0066cc; font-size:30px; font-weight:bolder}
.p9{ margin-top:8px; color:#0066cc; font-size:30px; font-weight:bolder}
.p10,.p11,.p12,.p13,.p14,.p15{color:#0066cc; font-size:20px;margin-top:15px}
.p16{ padding-top:30px; font-size:14px}
.p17{ font-size:14px; padding-top:3px}


















